body{
    background-color: #1c2430;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    color:#f8fcff;
}
.sub-heading{
    color:#44da77;
}
h1{
    margin: 0px;
}
#text{
    color:#a8adba;
}
.container-main{
    margin-left: 50px;
    margin-top:50px;
}
p{
    margin:0px;
    margin-top: 20px;
}
#btn{
    background-color: #14b179;
    border: 0px;
    padding: 6px 12px;
    color: #f8fcff;
    border-radius: 4px;
    margin-top: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.container2{
    background-color: #222a36;
    margin-top: 40px;
    width: 380px;
    height: 4px;
    margin-left: 40px;
}
.container-end{
    display: flex;
    justify-content: space-around;
    margin-top: 56px;
    margin-left: 25px;
}
#pass1-el,#pass2-el{
    height: 36px;
    width: 180px;
    background-color: #242e42;
    border-radius: 6px;
    color:#489e75;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}